<head>
  <title>Noise Pollution</title>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.9&sensor=true&language=en&key=AIzaSyCBlFOEpUXOg5xTYqzxjPkImH9HTEODcKA&libraries=visualization"></script>
  <link href="http://cdn.sencha.io/ext/gpl/4.2.0/resources/css/ext-all-neptune.css" rel="stylesheet" />
  <script src="http://cdn.sencha.com/ext/gpl/4.2.0/ext-all.js"></script>
</head>
<body>
</body>