html, body { 
  margin: 0;
  padding: 0;
  height: 100%;
}
#map-canvas { 
  height: 93%;
  margin: 0;
  padding: 0;
}
.header {
  height: 7%;
  overflow: hidden;
}
.header ul, .header ul * {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.header ul {
  display: table;
  height: 100%;
  width: 100%;
  table-layout: fixed;
}
.header li {
  display: table-cell;
  text-align: center;
  width: 1px;
  vertical-align: middle;
}
.header li a {
  font-size: 1.2em;
  text-decoration: none;
  color: #08f;
}
.header li a:hover {
  color: #f80;
}
#charts {
  height: 93%;
}
/*#charts .x-panel{
  height: 100%;
}
#charts .x-panel-body{
  height: 100%;
}
*/
html, body { 
  overflow: hidden;
}

#login, #audio, #location, #reports {
  margin: 5px;
  padding: 5px;
  background: #fff;
  border: 1px solid #666;
  border-radius: 3px;
}

#location input {
  width: 50px;
}

h3 {
  margin: 0 0 5px;
}

#login * {
  font-size: 14px;
}

#play{
  width: 50px;
  height: 50px;
  display: block;
  background: url(/img/play.png);
  background-position: -50px 0px;
  background-size: 200%;
}

#play:hover{
  opacity: 0.8;
}

#bar {
  width:0%;
  margin-top:5px;
  background-color:#333;
  height:10px;
}

#live_users{
  background: #fff;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #333;
  padding: 5px;
  margin: 5px;
  max-height: 150px;
  width:250px;
  overflow-y: scroll;
}

.user {
  margin-top: 2px;
}
.user a{
  color: #08f;
  text-decoration: none;
}
.user a:hover{
  color: #f80;
}
.bar {
  width: 170px;
  float: left;
  border: 1px solid #ccc;
}
.noise {
  line-height: 12px;
  font-size: 10px;
  text-align: right;
  width: 45px;
  float: left;
}

.clear {
  clear: both;
  line-height: 1px;
  height: 1px;
}