<template name="km">
  <div class="km">
    <select id="km" name="km">
      <option value="9999999">Whole World</option>
      <option value="10000">10000 km</option>
      <option value="2500">2500 km</option>
      <option value="500">500 km</option>
      <option value="100">100 km</option>
      <option value="25">25 km</option>
      <option value="5">5 km</option>
      <option value="1">1 km</option>
    </select>
  </div>
</template>

