<template name="Header">
  <div class="header">
    <ul>
      <li><a href="/">Live map</a></li>
      <li><a href="/historical/">Historical map</a></li>
      <li><a href="/client/">Client</a></li>
      <li><a href="/charts/">Charts</a></li>
    </ul>
  </div>
</template>